@media (min-width: 340px) {
  body {
    font-family: "GFS Didot", serif;
    font-size: 14px;
  }
  .cart-container {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
  }
  .cart-nav {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    padding: 1rem;
    z-index: 550;
    width: fit-content;
    top: 0;
  }
  .cart-container .cart-nav {
    width: 100%;
    background-color: var(--text-color-01);
  }
  .cart-nav button {
    font-size: 1.3rem;
    border: none;
    background-color: transparent;
    margin-right: 7rem;
    color: var(--button-text-01);
  }
  .remove-btn {
    color: var(--text-color-01);
    background-color: var(--button-text-01);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50px;
  }

  .sub-btn {
    color: var(--text-color-01);
    background-color: var(--button-text-01);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
  }
  .add-btn {
    color: var(--text-color-01);
    background-color: var(--button-text-01);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-left: 5px;
  }

  .order-summary {
    border: #8080801f solid 1px;
    margin: 2rem;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
  }
  .total-container div {
    border-bottom: #8080801f solid 1px;
    padding: 1rem;
  }
  .calc-total {
    border-bottom: #8080801f solid 1px;
    padding: 1rem;
  }
  .checkout-btn {
    color: var(--text-color-02);
    width: 100%;
    padding: 1rem;
    background-color: var(--button-text-01);
  }
  .cart-header li {
    font-weight: 700;
    font-size: 1rem;
    color: var(--button-text-01);
  }
  .cart-body ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
  }
  .cart-body ul {
    border-bottom: var(--product-container-color) solid 1px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    place-items: center;
  }
  .product-in-cart ul {
    border-bottom: var(--product-container-color) solid 1px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    place-items: center;
  }
  .product-in-cart ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
  }
  img {
    width: 100%;
  }
  .cart-img-container {
    display: flex;

    width: 100px;
  }

  .empty-cart {
    text-align: center;
    padding: 2rem;
    font-weight: bold;
    font-size: 1.8rem;
  }
  .order-summary span {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--button-text-01);
  }

  footer {
    background-color: var(--button-text-01);
  }
  footer div {
    padding: 1.5rem 0;
    margin-left: 0.5em;
  }
  footer h4 {
    font-size: 0.8rem;
    color: var(--text-color-01);
  }
  footer h2 {
    font-size: 1.2rem;
    color: var(--text-color-02);
  }
  footer div:nth-child(5) {
    display: flex;
    width: 23rem;
    align-items: center;
    justify-content: center;
  }
  .socials a {
    margin-right: 0.5rem;
  }
  .copyWrite {
    text-align: center;
    color: var(--text-color-02);
  }
}
