.cart-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.cart-nav {
  display: flex;
  justify-content: flex-start;
}
.cart-nav i {
  margin-right: 7rem;
}
.cancel {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
  margin-bottom: 20px;
}

.sub-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 5px;
}
.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-left: 5px;
}

.order-summary {
  border: #8080801f solid 1px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}
.total-container div {
  border-bottom: #8080801f solid 1px;
  padding: 1rem;
}
.calc-total {
  border-bottom: #8080801f solid 1px;
  padding: 1rem;
}
.checkout-btn {
  border: #8080801f solid 1px;
  padding: 1rem;
  background-color: var(--button-text-01);
}

.cart-body ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
}
.cart-body ul {
  border-bottom: var(--product-container-color) solid 1px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  place-items: center;
}
.product-in-cart ul{
  border-bottom: var(--product-container-color) solid 1px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  place-items: center;
}
.product-in-cart ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
}
img {
  width: 100%;
}
.cart-img-container {
  display: flex;

  width: 100px;
}
