* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Playfair Display", serif;
}
:root {
  --text-color-01: #ffffff;
  --button-text-01: #716e5e;
  --button-hover-color: #908f72;
  --text-color-02: #fff0be;
  --glass-color-02: #fdfdfd7d;
  --text-color-03: #546e94b1;
  --product-container-color: #dedcdc36;
  --logo: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);
}
@media (min-width: 340px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    z-index: 100;
  }
  .header .logo {
    font-size: var(--logo);
    color: var(--text-color-02);
  }
  .header .menu i {
    font-size: 1.1rem;
    color: var(--text-color-02);
  }
  .slogan {
    padding-top: 1.5rem;
    font-size: clamp(3rem, 2.3043rem + 3.4783vw, 5rem);
    line-height: clamp(4.0625rem, 2.8234rem + 6.1957vw, 7.625rem);
  }
  .slogan span {
    padding: 0.2rem 1.5rem;
    background-color: var(--button-text-01);
    border-radius: 50px;
    transform: rotate(10deg);
    display: inline-block;
  }
  .sub-slogan {
    padding: 2rem 0;
    font-size: var(--logo);
    color: var(--text-color-02);
  }
  .hero-section {
    background-image: url(/img/hero-section-mobile.png);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--text-color-01);
  }
  .hero-section::before {
    content: "";
    position: absolute;
    height: 100vh;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  .hero-section h1,
  .hero-section h4 {
    text-align: center;
    z-index: 100;
    margin: 0 10px;
  }
  .shop-now {
    padding: 15px 20px;
    border-radius: 100px;
    z-index: 100;
    font-size: 1rem;
    border: 0;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease-in-out;
    color: var(--text-color-01);
    background-color: var(--button-text-01);
  }
  .shop-now a {
    text-decoration: none;
  }
  .shop-now::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    position: absolute;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    color: var(--button-text-01);
    background-color: var(--text-color-01);
  }
  .shop-now:hover::before {
    transform: scaleX(1);
  }
  .shop-now:hover {
    color: var(--button-text-01);
  }
  .socials {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: clamp(3.125rem, 2.1467rem + 4.8913vw, 5.9375rem);
  }
  .socials a {
    font-size: 1.5rem;
    z-index: 100;
    text-decoration: none;
    color: var(--text-color-02);
  }
  .drop-down {
    background-color: var(--text-color-01);
    backdrop-filter: blur(50px);
    display: flex;
    align-items: center;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    transform: scaleX(0);
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
    padding: 0 1rem;
    z-index: 200;
    font-weight: 600;
  }
  .drop-down ul li {
    list-style: none;
    display: flex;
    width: 4rem;
    align-items: center;
    justify-content: space-between;
    color: var(--button-text-01);
    position: relative;
    margin: 4rem 0;
  }
  .drop-down ul a {
    text-decoration: none;
  }
  .drop-down ul li::after {
    content: "";
    border: var(--button-text-01) solid 1px;
    bottom: 0px;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
    position: absolute;
  }
  .drop-down ul li:active::after {
    transform: scaleX(1);
  }
  .drop-down ul li:hover {
    color: var(--text-color-03);
  }
  .drop-down .fa-xmark {
    top: 20px;
    right: 20px;
    position: absolute;
    color: var(--button-text-01);
  }
  .desktop-nav-bar {
    display: none;
  }
}
@media (min-width: 730px) {
  .slogan {
    padding-top: 10rem;
  }
  .menu {
    display: none;
  }
  .hero-section {
    background-image: url(/img/heroSection-desktop.png);
  }
  .desktop-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
  }
  .desktop-nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .desktop-nav-bar ul li {
    list-style: none;
  }
  .desktop-nav-bar ul li i {
    visibility: hidden;
  }
  .desktop-nav-bar a {
    text-decoration: none;
    color: var(--text-color-02);
  }
}
@media (min-width: 1024px) {
  .slogan {
    padding-top: 1.5rem;
    font-size: 4rem;
    line-height: 4rem;
  }
}
