.categories-container .header {
  background-color: transparent;
  color: var(--text-color-01);
}
.categories-container .header i,
.categories-container .cart-nav button {
  color: var(--text-color-01);
}
.categories-container .cart-nav{
  width:fit-content;
  background-color:transparent;
}
.shop-categories {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: flex-start;
  justify-items: center;
  padding: 1rem;
  position: relative;
}
.shop-categories a {
  margin-top: 3rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--button-text-01);
  text-decoration: none;
  color: var(--button-text-01);
  font-size: 1rem;
  font-weight: 600;
}

.categories-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.categories-img {
  width: 17rem;
  height: 6rem;
  margin: 1rem 0.5rem;
}
.categories-container::before {
  content: "";
  position: absolute;
  height: 100vh;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}
.categories-container {
  height: 100vh;
  background: url(../img/hero-section-mobile.png);
}

.category-name {
  color: var(--text-color-01);
}
.category-nav {
  color: var(--text-color-01);
}
.category-nav button {
  background-color: transparent;
  color: var(--text-color-01);
}
