@media (min-width: 375px) {
  body {
    font-family: "GFS Didot", serif;
  }
  .shop {
    background-color: var(--glass-color-02);
    position: relative;
  }
  .header .shop-logo {
    font-size: 1.1rem;
  }
  .header .shop-menu {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width: 4rem;
    font-size: 1.1rem;
    color: var(--button-text-01);
    position:relative
  }
  .header .menu {
    color: var(--button-text-01);
  }
.shop-menu .counter{
  display:flex;
  align-items: center;
  justify-content: center;
  width:15px;
  height:15px;
  position:absolute;
  background-color:var( --button-hover-color);
  border-radius:50px;
  font-size:12px;
  top:-9px;
  right:37px;
  color:var(--text-color-01);
}
.shop-menu a{
  text-decoration: none;
  color:var(--button-text-01);
}
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    color: var(--button-text-01);
    font-size: 1.5rem;
    position: relative;
  }
  img {
    margin-bottom: 0.5rem;
    border-radius: 7px;
  }
  .products {
    display: flex;
    flex-direction: column;
    width: 170px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: var(--product-container-color);
    border-radius: 5px;
  }
  .product-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5rem;
    overflow: hidden;
  }
  .show-more {
    padding: 15px 20px;
    border-radius: 100px;
    z-index: 100;
    font-size: 1rem;
    border: 0;
    color: var(--text-color-01);
    font-weight: bold;
    position: absolute;
    overflow: hidden;
    transition: color 0.5s ease-in-out;
    background-color: var(--button-text-01);
    bottom: 30px;
  }
  .show-more::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    position: absolute;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    background-color: var(--button-hover-color);
  }
  .show-more:hover::before {
    transform: scaleX(1);
  }
  .show-more:hover {
    color: var(--button-text-01);
  }
  .add-to-cart {
    padding: 5px;
    border-radius: 100px;
    z-index: 100;
    font-size: 0.7rem;
    border: 0;
    color: var(--text-color-01);
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease-in-out;
    background-color: var(--button-text-01);
  }

  .add-to-cart::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    position: absolute;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    background-color: var(--button-hover-color);
  }
  .add-to-cart:hover::before {
    transform: scaleX(1);
  }
  .add-to-cart:hover {
    color: var(--text-color-01);
  }
}
html {
  scroll-behavior: smooth;
}